body {
    /*background-color: darkblue; */
    color: white;
    text-align: center;
    font-size: 20px;
    background-image: url(../images/5197157-blue-background-wallpaper.jpg);
    border-image: url(../images/single-puzzle-piece.jpg);
}

#ASD-ribbon {
    height: 150px;
    padding-right: 50px;
}

#title {
    font-size: 65px;
}

#question {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}